<nav class="bg-white shadow-lg w-64 h-screen flex flex-col justify-center items-center"> <!-- Barra lateral con alto completo, flex y centrado -->
    <div class="flex flex-col items-center p-4"> <!-- Alineaci칩n central y Padding para separaci칩n -->
      <!-- Imagen de perfil -->
      <img src="/src/Assets/Images/foto.png" alt="Foto de Diego Mejia Acosta" class="w-32 h-32 rounded-full mb-2" /> <!-- Tama침o de imagen ajustado -->
      <!-- Nombre -->
      <span class="font-semibold text-gray-500 text-lg mb-2">Diego Mejia Acosta</span>
      <div class="flex flex-col space-y-2"> <!-- Enlaces en columna -->
        <a href="/" class="text-light-blue border-b-4 border-light-blue font-semibold">INICIO</a>
        
      </div>
      <!-- A침adir el nuevo texto debajo -->
      <div class="mt-4 text-center">
        <p>Soy un desarrollador web entusiasta que se dedica a idear y construir soluciones efectivas y novedosas.</p>
        <br>

        <p>CONTACTO: 9844-6105</p><br>

        <p>CORREO: diegoacosta@unah.hn</p><br>

        <p>GITHUB: <a href="https://github.com/DiegoMejiaa" target="_blank">https://github.com/DiegoMejiaa
        <br>
      </div>
    </div>
  </nav>
  
